body {
	position: absolute;
	font-family; 'PT sans', Arial;
	width: 64px;
	height: 264px;
	margin: 0;
	padding: 0;
	right: 0;
}
div {
	width: 64px;
	height: 64px;
	background-position: center;
	border: 1px solid red;
	background-color: #fff;
	position: relative;
	font-weight: 600;
	opacity: 0.4;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}
div:hover {
	opacity: 1;
}
div a:link {
	text-decoration: none;
}



 .ko-ko a {
     border: none;
     display: block;
     text-align: center;
     height: 100%;
     color: #666; 
     font-size: 0.8em;
     background: url(path4148.png) no-repeat;
     -ms-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     background-position: center;

}
 .ko-ko a:hover {
		border-radius: 10px;
     	-webkit-border-radius: 10px;
     	background: url(path4151.png) no-repeat;
     	background-color: red;
     	background-position: center;	
}


 
 .ko-ko2 a {
     line-height: 64px;
     display: block;
     text-align: center;
     height: 100%;
     color: #666;
     -ms-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     
}
 .ko-ko2 a:hover {
 	border-radius: 10px;
	background-color: red;
	color: white;
}




 .ko-ko3 a {
     line-height: 64px;
     display: block;
     text-align: center;
     height: 100%;
     color: #666; 
     -ms-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .ko-ko3 a:hover {
 	border-radius: 10px;
	background-color: red;
	color: white;
}

 
 
 .ko-ko4 a {
     line-height: 64px;
     display: block;
     text-align: center;
     height: 100%;
     color: #666;
     -ms-transition: all .3s ease-in-out;
     -webkit-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 .ko-ko4 a:hover {
 	border-radius: 10px;
	background-color: red;
	color: white;
}

    